<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test UVS</title>
    <link rel="stylesheet" href="/styles.css" />

    <!-- Angular.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-sanitize.js"></script>
</head>


<body ng-app="app">
    <div class="container" ng-controller="EventsController">
        <div class="events-search-options">
            <select ng-model="selectedCityName" ng-change="filterEvents()" class="form-control" style="width:200px">
                <option ng-repeat="city in cities" value="{{city.name}}">{{city.localName}}</option>
            </select>

            <div class="form-check-inline">
                <input ng-model="showVolunteeringEvents" ng-change="filterEvents()" class="form-check-input" type="checkbox" />
                <label class="form-check-label" for="showVolunteeringEvents">Волонтерські акції</label>
            </div>

            <div class="form-check-inline">
                <input ng-model="showOrdinaryEvents" ng-change="filterEvents()" class="form-check-input" type="checkbox">
                <label class="form-check-label" for="showOrdinaryEvents">Події</label>
            </div>
        </div>

        <div ng-repeat="event in filteredEvents">
            <div class="card event-card">
                <img class="card-img-top" ng-src="{{event.imageUrl}}" alt="Event card image cap">
                <div class="card-body">
                    <p>
                        <strong>Початок:</strong>
                        <i>{{event.startsOn | date: dateFormat}}</i>
                    </p>
                    <p>
                        <strong>Закінчення:</strong>
                        <i>{{event.endsOn | date: dateFormat}}</i>
                    </p>
                    <p>
                        <strong>Де:</strong>
                        <i>
                            <a target="_blank" ng-href="{{event.placeHref}}">{{event.placeName}}</a>
                        </i>
                    </p>
                    <p class="card-text">
                        <strong>Вартість:</strong>
                        <i>{{event.priceInfo}}</i>
                    </p>
                    <h4 class="card-title">{{event.title}}</h4>
                    <p class="card-text" ng-bind-html="event.description"></p>
                    <a target="_blank" href="{{event.urlToAttend}}" class="btn btn-primary">Зареєструватися!</a>
                    <i>
                        <a target="_blank" href="{{event.urlAbout}}" class="url-about">Подробицi</a>
                    </i>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    <!-- Custom js -->
    <!-- <script src="/script.js" type="module"></script> -->
    <script src="/script.ng.js" type="module"></script>
</body>

</html>