<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test UVS</title>

    <!-- Bootrstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles.css" />

    <!-- Angular.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/i18n/angular-locale_uk-ua.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-sanitize.js"></script>
</head>

<body>
    <div ng-app="app" style="min-width: 350px;">
        <br />
        <!-- To create space between Tilda blocks -->

        <div class="container" ng-controller="EventsController" ng-cloak>
            <ul class="nav nav-tabs">
                <li ng-repeat="city in cities" class="nav-item">
                    <!-- href is for Bootstrap font color -->
                    <a class="nav-link" ng-class="getCityLinkClass(city)" ng-click="selectCity(city)" href>{{city.localName}}</a>
                </li>
            </ul>
            <br />

            <div ng-repeat="eventSection in eventSections" class="row">
                <div class="col-12">
                    <h2>{{eventSection.sectionName}}</h2>
                </div>

                <div ng-repeat="event in eventSection.events" class="col-xs-12 col-lg-4">
                    <div class="card event-card">
                        <img class="card-img-top" ng-src="{{event.imageUrl}}" alt="Event card image cap">
                        <div class="card-body">
                            <p>
                                <strong>Початок:</strong>
                                <i>{{event.startsOn | date: dateFormat}}</i>
                            </p>
                            <p ng-show="event.endsOn">
                                <strong>Закінчення:</strong>
                                <i>{{event.endsOn | date: dateFormat}}</i>
                            </p>
                            <p>
                                <strong>Де:</strong>
                                <i>
                                    <a target="_blank" ng-href="{{event.placeHref}}" class="uvs-link">{{event.placeName}}</a>
                                </i>
                            </p>
                            <p class="card-text">
                                <strong>Вартість:</strong>
                                <i>{{event.priceInfo}}</i>
                            </p>
                            <h4 class="card-title">{{event.title}}</h4>
                            <p class="card-text" ng-bind-html="event.description"></p>
                            <a target="_blank" ng-href="{{event.urlToAttend}}" class="btn btn-primary">
                                <span class="text-white">Зареєструватися!</span>
                            </a>
                            <i>
                                <a target="_blank" ng-href="{{event.urlAbout}}" class="url-about uvs-link">Подробицi</a>
                            </i>
                        </div>
                    </div>
                </div>

                <div ng-hide="eventSection.events.length > 0" class="col-12">
                    <p>Наразі тут нічого немає.</p>
                </div>
            </div>
            <br />
        </div>
    </div>

    <!-- jQuery -->
    <!-- Tilda has already loaded jQuery, don't add to HTML! -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- Custom js -->
    <script src="/script.ng.js" type="module"></script>
</body>

</html>